
.foto{
    margin-top: 100px;
    margin: 90px;
    width: 87%;
    height: 87%;
    display: flex;
}
.mujer {
    display: inline-block;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border-style: groove;
    margin-top: 70px;
    border-image-width: 80%;
    

}

.mujer:hover{
    transform: scale(1.1,1.1);
    border: solid 2px black
}


.hombre {
    display: inline-block;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    border-style: groove;
    margin-top: 70px;
}

.hombre:hover{
    transform: scale(1.1,1.1);
    border: solid 2px black
}

.foto img{
    display: block;
    width: 100%;
    float: center;

}